.filter-container {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.247);
    border-right: 1px solid black;
}

.filter-container h3 {
    margin-bottom: 20px;
}

.filter-container select {
    width: 100%;
    font-weight: bold;
    font-size: large;
}

.min-price,
.max-price {
    background-color: white;
}

.min-price input,
.max-price input {
    width: 70px;
    outline: none;
}

.cat {
    padding: 10px 20px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.cat:hover {
    background-color: rgba(153, 205, 50, 0.253);
}

.cat.selected {
    background-color: yellowgreen;
}

.brand {
    padding: 10px 20px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.brand:hover {
    background-color: rgba(153, 205, 50, 0.253);
}

.brand.selected {
    background-color: yellowgreen;
}

.filter-container2 {
    display: none;
}

/*For Tablets*/
@media screen and (max-width: 768px) {
    .filter-container {
        display: none;
    }

    .filter-container2 {
        display: block;
        position: absolute;
        right: 20px;
        margin-top: 10px;
    }
}